html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url('/resources/bg.png');
    background-size: cover;
    overflow-x: hidden;
}

button:active {
    box-shadow: inset 1px 1px 10px black;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.modal {
    box-shadow: 0 0 10px black;
    width: 200px;
    background-color: white;
    padding: 15px;
}


.fighter-fliped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.fighter-card {
    margin: 10px 10px;
}

.fighter-card .fighter {
    border: 2px solid red;
    background-color: #eee;
}

.choose-fighter {
    width: 100%;
    background-color: #ff0074;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
}

#details-modal {
    background-color: rgba(0,0,0,.5);
}

#details-modal .modal {
    padding: 50px;
    background-color: #eee;
    border: 1px solid black;
}
#details-modal .modal .close {
    width: 100%;
    background-color: #ff0074;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 5px;
    font-weight: bold;
}

.input-group {
    margin: 15px 0;
}

.input-group label {
    text-transform: capitalize;
    font-weight: bold;
}

.input-group input {
    margin-top: 5px;
    width: 90%;
    border: 1px solid #ff0074;
    padding: 10px;
}

.choosen-fighters {
    width: 100%;
}

.choosen-fighters  > div {
    padding: 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
}

.choosen-fighters  > div player-fighter {
    flex: 1;
}

.choosen-fighters .player-fighter {
    background-color: white;
    padding: 30px;
    border: 1px solid  #ff0074;
}

#root .start {
    font-weight: bold;
    font-size: 14pt;
    color: grey;
    padding: 10px;
    width: 30%;
    flex: 2;
    background-color: #ffe700;
    border: none;
    box-shadow: 5px 5px 10px grey;
}


.fight {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
}
.fight .game-arena {
    height: 100%;
    background-image: url('/resources/arena.gif');
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: space-around;
    padding-top: 250px;
}

.fight .game-arena .fighter-image {

}

.fight .game-bars {
    width: 100%;
    position: absolute;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    color: white;
}

.fight .winner {
    position: absolute;
    top: 0;
}

.fight .fight-hit {
    position: absolute;
    top: 60%;
    left: 20%;
    padding: 20px;
    font-size: 20pt;
    background-color: #ff0074;
    border: none;
    border-radius: 50%;
}

.fight .winner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
}

.fight .winner .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fight .winner .fighter-image {
    width: 200px;
}

.fight .winner h3 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.fight .winner button {
    width: 200px;
    font-weight: bold;
    font-size: 14pt;
    color: grey;
    padding: 10px;
    background-color: #ffe700;
    border: none;
    box-shadow: 5px 5px 10px grey;
}


.delete-fighter {
    color: red;
    font-weight: bold;
    background-color: black;
    border: 1px solid grey;
}

#details-modal .delete-fighter {
    display: none;
}

.create-fighter {
    font-weight: bold;
    font-size: 14pt;
    color: grey;
    padding: 10px;
    width: 300px;
    flex: 2;
    background-color: #ffe700;
    border: none;
    box-shadow: 5px 5px 10px grey;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
}

#root .buttons > button {
    border-left: 1px solid black;
}